html,body,div,span,applet,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,a,abbr,acronym,address,big,cite,code,del,dfn,em,img,ins,kbd,q,s,samp,small,strike,strong,sub,sup,tt,var,b,u,i,dl,dt,dd,ol,nav ul,nav li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,embed,figure,figcaption,footer,header,hgroup,menu,nav,output,ruby,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;font-size:100%;font:inherit;vertical-align:baseline;}
article, aside, details, figcaption, figure,footer, header, hgroup, menu, nav, section {display: block;}

.grid_1_of_4{
	display: block;
	float:left;
	margin: 1% 0 1% 1%;
	box-shadow: 0 0 3px rgb(150, 150, 150);
}
.grid_1_of_4:first-child { 
	margin-left: 0; 
} 
.images_1_of_4 {
	width: 20.8%;
    height: 20.8%;
	padding:1.5%;
	text-align:center;
	position:relative; 
}
.images_1_of_4  img{
	max-width:100%;
}
.images_1_of_4 .button{
	margin-top:.3em;
	line-height:1.9em;
	float:left;
	width:49%;
}
.images_1_of_4 .button a{
		padding:7px 20px;
		font-size:0.8em;
}
.images_1_of_4 .button a{
	font-family: "Trebuchet MS",Arial,Helvetica,sans-serif;
	font-size: 14px;
	line-height: 15px;
	text-transform: none;
	color: #737370;
	text-decoration: none!important;
	background: url(../images/button-bg.png) repeat-x 0 0 #E8E8E8;
	display: inline-block;
	border-left: 1px solid #D4D4D4!important;
	border-right: 1px solid #ADADAD!important;
	border-top: 1px solid #E0E0E0!important;
	border-bottom: 1px solid #9C9C9C!important;
	cursor: pointer!important;
	margin: 0 2px;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	-webkit-transition: all 0.5s ease;
		-moz-transition: all 0.5s ease;
		-o-transition: all 0.5s ease;
		transition: all 0.5s ease;
}
.images_1_of_4 .button a:hover{
     color:#70389C;
     background: #E8E8E8;
}
.images_1_of_4 .button span img{
	position:absolute;
}
.images_1_of_4 .button a.cart-button{
	padding:7px 5px 7px 38px; 
}